/* bleu-vert */
html {
    color: #22786f;
}
/* bleu-clair */
html {
    color: #bbe1e6;
}
/* orange */
html {
    color: #ffdd01; /*jaune*/
    color: #eb7a02; /*normal*/
    color: #de4502; /*foncé*/
}
/* rose-violet */
html {
    color: #ec83bb; /*light*/
    color: #e455fb;
}
