.bg-dark {
    background: #22786f;
}

.rd-navbar-static .rd-navbar-nav > li.focus > a,
.rd-navbar-static .rd-navbar-nav > li > a:hover,
.rd-navbar-static .rd-navbar-nav > li.active > a,
.rd-navbar-fullwidth .rd-navbar-nav > li.focus > a,
.rd-navbar-fullwidth .rd-navbar-nav > li > a:hover,
.rd-navbar-fullwidth .rd-navbar-nav > li.active > a {
    color: #22786f;
}

section hr{
  background: #bbe1e6;
}

input[type="checkbox"]{
  -webkit-appearance:checkbox;
}

.verticaly-centered{
  margin: 2rem auto;
}

img.products{
  max-width: 100%;
}

.bordered{
  border: 2px solid #FFFFFF;
}

#logo-text{
  display:none;
}

#logo-small{
  max-width: 80%;
}

/* PRODUCTS */
section#products,
section#selling{
  line-height: 1.5rem;
}

.video-container {
	position: relative;
	padding-bottom: 45%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
  margin: 3rem auto 0;
  max-width: 100%;
  float: none;
  clear: both;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
  margin: 0 10%;
	width: 80%;
	height: 80%;
}

#products article:not(#digisport) {
    display: flex;
    align-items: stretch;
}
#products article:not(#digisport) > div {
    float: none;
    display: inline-block;
    margin: 0;
    min-height: 100%;
}

.article-column-text {
    width: 67%;
}
.article-column-img {
    width: 33%;
    padding: 25px;
}
.article-column-img a + a {
    margin-top: 12px;
}
.article-column-img i.fa {
    vertical-align: middle;
}
.article-column-img a span, #digisport a span {
    padding-right: 12px;
    opacity: 0;
    transition: all .3s;
}
.article-column-img a:hover span, #digisport a:hover span {
    opacity: 1;
}

@media (max-width: 768px) {
    #products article:not(#digisport) {
        flex-direction: column;
        flex-basis: auto;
    }
    .article-column-img, .article-column-text {
        width: 100%;
    }
    .article-column-img img {
        max-width: 75%;
    }
    .article-column-img span {
        display: none;
    }
    #products p, #products h3, #products h4 {
        text-align: center;
    }
}

/* SELLING */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  border: none;
  background-color: #fff;
  color: #22786f;
}

.nav > li > a:hover{
  border: none;
  background-color: #fff;
  color: #22786f;
}

/* PRESTATIONS */
.pricing-box .btn:hover, .pricing-box.row-no-gutter .btn:hover{
  border-color: #22786f;
}
#prestations {
    border-bottom: 1px solid #22786f;
}

/* RESPONSIVE */

@media screen and (max-width: 1000px){

  #logo-text{
    display: block;
    max-width: 30%;
    padding-top: 3px;
  }

  #logo-small{
    display:none;
  }

}

/**************/

/* hr */
hr, .jumbotron h1::before {
    background: #fff;
}

/* mosaïque */
.img-thumbnail .overlay {
    background-color: #22786f;
}
.mosaique div img {
    width: 100%;
}

/* section pastilles */
.box-hover-1 .icon {
    border-color: #22786f;
    color: #22786f;
}
.box-hover-1:hover .icon {
	border-color: #22786f;
	background: #22786f;
}
h4 a:hover {
    color: #22786f;
}

/* partenaires */
.client {
    max-width: 50%;
}

/* bouton pour revenir en haut */
.ui-to-top {
	background: #22786f;
}
.ui-to-top:hover {
	background: #1c6b63;
}

/* contact */
.contact-form a:hover {
    color: #22786f;
}
.contact-form .btn:hover {
    background: #22786f;
}
.contact-form .btn {
    border-color: #22786f;
}
.rd-mailform .form-group input, .rd-mailform .form-group textarea {
    text-transform: none;

}
.rd-mailform .form-group input:placeholder-shown, .rd-mailform .form-group textarea:placeholder-shown {
	text-transform: uppercase;

}

/*dropdown*/
.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown {
    color: #fff;
    background: #22786f;
}
.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown a:hover {
    color: #222;
    transition: all 0.4s ease 0s;
}

i.fa {
    margin-right: 8px;
}

.bg-white {
    color: rgb(99,107,111);
}

/*footer*/

.page-footer .navbar-brand a {
	color: white;
}

.page-footer.footer-centered .footer-content address {
	width: 15rem;
}

.page-footer.footer-centered .footer-content address:nth-child(odd) {
	text-align: left;
}
.page-footer.footer-centered .footer-content address:nth-child(even) {
	text-align: right;
}

/*content tools (text-editor)*/

/* Left align */
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
[data-editable] .align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* produits (section admin) */
.instructions {
    padding-left: 18px;
    list-style: decimal;
    font-weight: bold;
}
